<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>ECSHOP 管理中心</title>
	<link rel='stylesheet' href='stylesheets/login.css' />
</head>
<body>
	<form class="login_from">
		<div class="top">
			<img src="images/login/shopex.png">
		</div>
		<div class="sheet">
			<div class="sheet_c">
				<div class="sheet_log">
					<img src="images/login/ecshop-logo.png" width="373" height="103" border="0" alt="ECSHOP">
					
				</div>
			</div>
			<div class="z-bd">
				<div class="login-panel">
					<h3 class="panel-hd cl-link-blue"></h3>
					
					<div class="controls first">
						
					</div>
					
					<div class="controls two active">
						
					</div>
					
					<div class="controls third active">
						
					</div>
				
					<div class=" last">
						<input type="submit" name="" value="登录" class="btn-a">	
					</div>

				</div>
			</div>
		</div>
	</form>
</body>
<script type="text/javascript">
	// function login() {
	// 	$.ajax({
	// 		url: "/api/login",
	// 		type: "post",
	// 		data: {
	// 			username: $("#username").val(),
	// 			psw: $("#psw").val()
	// 		},
	// 		success: function(res) {
	// 			console.log(res);
	// 		}
	// 	})
	// }
</script>
</html>