<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>ligaofeng</title>
	<link rel="stylesheet" type="text/css" href="stylesheets/css/main.css">
</head>
<body>
	<div id="header">
		<div class="logo">
			<img src="images/main/ht4.png">
		</div>
		<div class="license">
		</div>
		<div class="submenu">
			<ul>
				<li><a href="">
					<img src="images/main/ht13.png" alt="">
					<span>退出</span>
				</a></li>
				<li><a href="">
					<img src="images/main/ht2.png" alt="">
					<span>清除缓存</span>
				</a></li>
				<li><a href="">
					<img src="images/main/ht12.png" alt="">
					<span>关于我们</span>
				</a></li>
				<li><a href="">
					<img src="images/main/ht11.png" alt="">
					<span>帮助</span>
				</a></li>
				<li><a href="">
					<img src="images/main/ht10.png" alt="">
					<span>查看网店</span>
				</a></li>
				<li><a href="">
					<img src="images/main/ht9.png" alt="">
					<span>管理员留言</span>
				</a></li>
				<li><a href="">
					<img src="images/main/ht8.png" alt="">
					<span>个人设置</span>
				</a></li>
				<li><a href="">
					<img src="images/main/ht7.png" alt="">
					<span>刷新</span>
				</a></li>
				<li><a href="">
					<img src="images/main/ht6.png" alt="">
					<span>记事本</span>
				</a></li>
				<li><a href="">
					<img src="images/main/ht5.png" alt="">
					<span>开店向导</span>
				</a></li>
				<li style="width:102px;border-left:none;"><a href="" style="color:#ff0; width:102px; font-weight:bold;">
					<img src="images/main/ht14.png" alt="">
					<span>更多模板堂产品</span>
				</a></li>
			</ul>
		</div>
	</div>


	<div id="menu">
		<ul>
			<li>
				<a href="">
				<img src="images/main/lg2.png"  align="absmiddle">
				<span>起始页</span>
				</a>
				<span class="mune_cl"></span>
			</li>
			<li>
				<a href="">
				<img src="images/main/lg7.png">
				<span>设置导航栏</span>
				</a>
				<span class="mune_cl"></span>
			</li>
			<li>
				<a href="">
				<img src="images/main/lg3.png">
				<span>商品管理</span>
				<span class="num">36</span>
				</a>
				<span class="mune_cl"></span>
			</li>
			<li>
				<a href="">
				<img src="images/main/lg1.png">
				<span>订单管理</span>
				<span class="num">0</span>
				</a>
				<span class="mune_cl"></span>
			</li>
			<li>
				<a href="">
				<img src="images/main/lg4.png">
				<span>广告管理</span>
				<span class="num">0</span>
				</a>
				<span class="mune_cl"></span>
			</li>
			<li>
				<a href="">
				<img src="images/main/lg5.png">
				<span>用户评论</span>
				<span class="num">0</span>
				</a>
				<span class="mune_cl"></span>
			</li>
			<li>
				<a href="">
				商品列表
				</a>
				<span class="mune_cl"></span>
			</li>
			<li>
				<a href="">
				订单列表
				</a>
				<span class="mune_cl"></span>
			</li>
			<li>
				<a href="">
				用户评论
				</a>
				<span class="mune_cl"></span>
			</li>
			<li>
				<a href="">
				会员列表
				</a>
				<span class="mune_cl"></span>
			</li>
			<li>
				<a href="">
				商店设置
				</a>
				<span class="mune_cl"></span>
			</li>
			<li>
				<a href="">
				移动版
				</a>
				<span class="mune_cl"></span>
			</li>
		</ul>
	</div>


<!-- 	<iframe src="/html/left.html" width="180">
	</iframe>
	<iframe src="/html/left.html" width="10" style="cursor: auto;">
	</iframe>
	<iframe src="/html/left.html">
	</iframe>
 -->
<!-- <div id="left">
	<div id="tabbar-div">
		<p>
	 	 <span class="tab-front" id="menu-tab">导航菜单</span>
		</p>
	</div>
</div>
	 -->
			
			
			
		
</body>
</html>