@charset "utf-8";
html,body,ul,li,ol,dl,dd,dt,p,h1,h2,h3,h4,h5,h6,form,fieldset,legend,img,input,select{margin:0;padding:0;}
body{font-size:16px;font-family: "微软雅黑";}
ul,ol,li{list-style:none;}
a,u{text-decoration: none;;}
h1,h2,h3,h4,h5,h6{font-size:16px;font-weight:100;}
b,strong{font-weight:100;}
em,i{font-style:normal;}
img{border:0;display:block;}
.clearfix:after{content:".";display:block;clear:both;height:0;overflow:hidden;visibility: hidden;}
body{
	width: 100%;
	height: 100%;
    padding: 0;
    overflow: hidden;
    min-width: 773px;
}
.login_from{
	width: 100%;
  	height: 1000px;
    background: #555 url(../images/login/ecshop-bg.png) no-repeat center center;
    background-size: cover;
    position: relative;
}
.top{
	padding: 10px 0 40px 50px;
}
.sheet{
	position: absolute;
 /*	top:500px;*/
    right: 0;
    left: 0;
    width: 475px;
    margin: auto auto;
}
.sheet_c{
	width: 380px;
    margin: 0 auto;
}
.sheet_log img{
	width: 248px;
    height: 65px;
    margin-left: 66px;
}
.z-bd{
	position: relative;
    overflow: hidden;
    padding-bottom: 42px;
    height: 350px;
    background: url(../images/login/icloud-bar.png) no-repeat 0 bottom;
    margin-top: 50px;
}
.login-panel{
	position: absolute;
    left: 16px;
    z-index: 2;
    width: 302px;
    background: rgba(255,255,255,.85);
    border: none;
    border-radius: 0;
    color: #A1A1A1;
    padding: 5px 70px 25px;
    overflow: hidden;
    box-shadow: 5px 2px 20px rgba(0,0,0,.3);
    height: 322px;
}
.login-panel .panel-hd {
    padding-bottom: 10px;
    line-height: 1;
    font-size: 18px;
    margin: 18px 0;
    text-align: center;
    font-weight: normal;
}
.controls {
    position: relative;
    height: 51px;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}
.login-panel .controls.first {
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    border-top: 1px solid #ddd;
}
.login-panel .controls.two.active {
    border-radius: 0;
}
.login-panel .controls.two {
    border-radius: 0 0 5px 5px;
    overflow: hidden;
}
.login-panel .controls {
    position: relative;
    height: 51px;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}
.login-panel .controls.third.active {
    display: block;
}
.login-panel .controls.third {
    border-radius: 0 0 5px 5px;
    overflow: hidden;
    display: none;
}
.login-panel .controls {
    position: relative;
    height: 51px;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}
/*.last {
    border: none;
}*/
.btn-a {
    cursor: pointer;
    width: 100%;
    margin-top: 20px;
}
.btn-a {
    display: block;
    color: #FFF;
    font-size: 16px;
    line-height: 51px;
    text-align: center;
    background-color: #fc7878;
    border: 0;
    border-radius: 4px;
    letter-spacing: 4px;
}